
* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Lora', serif;
}


body {
  line-height: 1.6; 
  background-color: #f6f7f8;
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden; 
  
}


.container {
  max-width: 100px; 
  margin: 0 auto; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 100px; 
}









